<style>
  .d-block {
  display: flex;
  flex-direction: column;
  }
</style>

<div class="d-block">
  {{ 10 | plus: 5 }}
  <br>
  {{ 10 | minus: 5 }}
  <br>
  {{ 15 | divided_by: 3 }}
  <br>
  {{ 5 | times:5 }}
  <br>
  {{ 10 | modulo:3 }}
</div> 