<div class="col-3">
    <div class="product-img">
      <img
        src="{{ product.featured_image | image_url }}"
        alt="{{ product.title }}"
        width =""
        height = ""
        class="img-fluid d-block w-100 object-fit-contain">
    </div>
  
    <div class="product-con text-center">
      <p class="font-poppins fw-semibold fs-8 titile-color">
        {{ product.title }}
      </p>
  
      <div class="our-price d-flex align-items-center justify-content-center pt-2">
        <div class="col-4 product-left-con d-flex justify-content-center border-end">
          <p class="font-poppins fw-medium fs-8 price-color">
            {{ product.price | money }}
          </p>
        </div>
  
        <div class="d-flex col-4 justify-content-center gap-2 align-items-center">
          <p class="font-poppins fw-medium fs-8 price-color">5.0</p>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.4672 23.194L12.0002 17.706L4.53323 23.194L7.40023 14.331L-0.0627747 8.878H9.15123L12.0002 0L14.8492 8.878H24.0622L16.6002 14.331L19.4672 23.194Z"
              fill="#F5D426" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  