<p>{{ section.settings.heading }}</p>

{% schema %}
{
  "name": "Learn Liquid",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text"
    }
  ],
  "presets": [
    {
      "name": "learn-liquid"
    }
  ]
}
{% endschema %}
