.bg-primary {
    background-color: #C2EFD4;
}
.bg-secondary {
    background-color: #6BC785;
}
.bg-secondary-dark {
    background-color: #93B9A2;
}
.bg-secondary-light {
    background-color: #A9D4BA;
}
.bg-primary-light {
    background-color: #DDECE2;
}
.bg-white {
    background-color: #FFFFFF;
}
.footer-bg {
    background-color: #224F34;
}