.gap-0 {
    gap: 0 !important;
  }
  
  .gap-1 {
    gap: 0.25rem !important;
  }
  
  .gap-2 {
    gap: 0.5rem !important;
  }
  
  .gap-3 {
    gap: 1rem !important;
  }
  
  .gap-4 {
    gap: 47px !important;
  }
  
  .gap-5 {
    gap: 59px !important;
  }
  .gap-6 {
    gap: 100px !important;
  }
  .gap-20 {
    gap: 20px;
  }
  .gap-18 {
    gap: 18px;
  }
  .gap-36 {
    gap: 36px;
  }
  .footer-gap {
    gap: 50px;
  }
  
  .row-gap-0 {
    row-gap: 0 !important;
  }
  
  .row-gap-1 {
    row-gap: 0.25rem !important;
  }
  
  .row-gap-2 {
    row-gap: 0.5rem !important;
  }
  
  .row-gap-3 {
    row-gap: 1rem !important;
  }
  
  .row-gap-4 {
    row-gap: 1.5rem !important;
  }
  
  .row-gap-5 {
    row-gap: 3rem !important;
  }
  
  .column-gap-0 {
    -moz-column-gap: 0 !important;
    column-gap: 0 !important;
  }
  
  .column-gap-1 {
    -moz-column-gap: 0.25rem !important;
    column-gap: 0.25rem !important;
  }
  
  .column-gap-2 {
    -moz-column-gap: 0.5rem !important;
    column-gap: 0.5rem !important;
  }
  
  .column-gap-3 {
    -moz-column-gap: 1rem !important;
    column-gap: 1rem !important;
  }
  
  .column-gap-4 {
    -moz-column-gap: 1.5rem !important;
    column-gap: 1.5rem !important;
  }
  
  .column-gap-5 {
    -moz-column-gap: 3rem !important;
    column-gap: 3rem !important;
  }
  
  @media (min-width: 576px) {
    .gap-sm-0 {
      gap: 0 !important;
    }
    .gap-sm-1 {
      gap: 0.25rem !important;
    }
    .gap-sm-2 {
      gap: 0.5rem !important;
    }
    .gap-sm-3 {
      gap: 1rem !important;
    }
    .gap-sm-4 {
      gap: 1.5rem !important;
    }
    .gap-sm-5 {
      gap: 3rem !important;
    }
    .row-gap-sm-0 {
      row-gap: 0 !important;
    }
    .row-gap-sm-1 {
      row-gap: 0.25rem !important;
    }
    .row-gap-sm-2 {
      row-gap: 0.5rem !important;
    }
    .row-gap-sm-3 {
      row-gap: 1rem !important;
    }
    .row-gap-sm-4 {
      row-gap: 1.5rem !important;
    }
    .row-gap-sm-5 {
      row-gap: 3rem !important;
    }
    .column-gap-sm-0 {
      -moz-column-gap: 0 !important;
      column-gap: 0 !important;
    }
    .column-gap-sm-1 {
      -moz-column-gap: 0.25rem !important;
      column-gap: 0.25rem !important;
    }
    .column-gap-sm-2 {
      -moz-column-gap: 0.5rem !important;
      column-gap: 0.5rem !important;
    }
    .column-gap-sm-3 {
      -moz-column-gap: 1rem !important;
      column-gap: 1rem !important;
    }
    .column-gap-sm-4 {
      -moz-column-gap: 1.5rem !important;
      column-gap: 1.5rem !important;
    }
    .column-gap-sm-5 {
      -moz-column-gap: 3rem !important;
      column-gap: 3rem !important;
    }
  }
  
  @media (min-width: 768px) {
    .gap-md-0 {
      gap: 0 !important;
    }
    .gap-md-1 {
      gap: 0.25rem !important;
    }
    .gap-md-2 {
      gap: 0.5rem !important;
    }
    .gap-md-3 {
      gap: 1rem !important;
    }
    .gap-md-4 {
      gap: 1.5rem !important;
    }
    .gap-md-5 {
      gap: 3rem !important;
    }
    .row-gap-md-0 {
      row-gap: 0 !important;
    }
    .row-gap-md-1 {
      row-gap: 0.25rem !important;
    }
    .row-gap-md-2 {
      row-gap: 0.5rem !important;
    }
    .row-gap-md-3 {
      row-gap: 1rem !important;
    }
    .row-gap-md-4 {
      row-gap: 1.5rem !important;
    }
    .row-gap-md-5 {
      row-gap: 3rem !important;
    }
    .column-gap-md-0 {
      -moz-column-gap: 0 !important;
      column-gap: 0 !important;
    }
    .column-gap-md-1 {
      -moz-column-gap: 0.25rem !important;
      column-gap: 0.25rem !important;
    }
    .column-gap-md-2 {
      -moz-column-gap: 0.5rem !important;
      column-gap: 0.5rem !important;
    }
    .column-gap-md-3 {
      -moz-column-gap: 1rem !important;
      column-gap: 1rem !important;
    }
    .column-gap-md-4 {
      -moz-column-gap: 1.5rem !important;
      column-gap: 1.5rem !important;
    }
    .column-gap-md-5 {
      -moz-column-gap: 3rem !important;
      column-gap: 3rem !important;
    }
  }
  
  @media (min-width: 992px) {
    .gap-lg-0 {
      gap: 0 !important;
    }
    .gap-lg-1 {
      gap: 0.25rem !important;
    }
    .gap-lg-2 {
      gap: 0.5rem !important;
    }
    .gap-lg-3 {
      gap: 1rem !important;
    }
    .gap-lg-4 {
      gap: 1.5rem !important;
    }
    .gap-lg-5 {
      gap: 3rem !important;
    }
    .row-gap-lg-0 {
      row-gap: 0 !important;
    }
    .row-gap-lg-1 {
      row-gap: 0.25rem !important;
    }
    .row-gap-lg-2 {
      row-gap: 0.5rem !important;
    }
    .row-gap-lg-3 {
      row-gap: 1rem !important;
    }
    .row-gap-lg-4 {
      row-gap: 1.5rem !important;
    }
    .row-gap-lg-5 {
      row-gap: 3rem !important;
    }
    .column-gap-lg-0 {
      -moz-column-gap: 0 !important;
      column-gap: 0 !important;
    }
    .column-gap-lg-1 {
      -moz-column-gap: 0.25rem !important;
      column-gap: 0.25rem !important;
    }
    .column-gap-lg-2 {
      -moz-column-gap: 0.5rem !important;
      column-gap: 0.5rem !important;
    }
    .column-gap-lg-3 {
      -moz-column-gap: 1rem !important;
      column-gap: 1rem !important;
    }
    .column-gap-lg-4 {
      -moz-column-gap: 1.5rem !important;
      column-gap: 1.5rem !important;
    }
    .column-gap-lg-5 {
      -moz-column-gap: 3rem !important;
      column-gap: 3rem !important;
    }
    .footer-gap {
      gap: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .gap-20 {
      gap: 0px;
    }
    .gap-xl-0 {
      gap: 0 !important;
    }
    .gap-xl-1 {
      gap: 0.25rem !important;
    }
    .gap-xl-2 {
      gap: 0.5rem !important;
    }
    .gap-xl-3 {
      gap: 1rem !important;
    }
    .gap-xl-4 {
      gap: 1.5rem !important;
    }
    .gap-xl-5 {
      gap: 3rem !important;
    }
    .row-gap-xl-0 {
      row-gap: 0 !important;
    }
    .row-gap-xl-1 {
      row-gap: 0.25rem !important;
    }
    .row-gap-xl-2 {
      row-gap: 0.5rem !important;
    }
    .row-gap-xl-3 {
      row-gap: 1rem !important;
    }
    .row-gap-xl-4 {
      row-gap: 1.5rem !important;
    }
    .row-gap-xl-5 {
      row-gap: 3rem !important;
    }
    .column-gap-xl-0 {
      -moz-column-gap: 0 !important;
      column-gap: 0 !important;
    }
    .column-gap-xl-1 {
      -moz-column-gap: 0.25rem !important;
      column-gap: 0.25rem !important;
    }
    .column-gap-xl-2 {
      -moz-column-gap: 0.5rem !important;
      column-gap: 0.5rem !important;
    }
    .column-gap-xl-3 {
      -moz-column-gap: 1rem !important;
      column-gap: 1rem !important;
    }
    .column-gap-xl-4 {
      -moz-column-gap: 1.5rem !important;
      column-gap: 1.5rem !important;
    }
    .column-gap-xl-5 {
      -moz-column-gap: 3rem !important;
      column-gap: 3rem !important;
    }
  }
  
  @media (min-width: 1400px) {
    .gap-xxl-0 {
      gap: 0 !important;
    }
    .gap-xxl-1 {
      gap: 0.25rem !important;
    }
    .gap-xxl-2 {
      gap: 0.5rem !important;
    }
    .gap-xxl-3 {
      gap: 1rem !important;
    }
    .gap-xxl-4 {
      gap: 1.5rem !important;
    }
    .gap-xxl-5 {
      gap: 3rem !important;
    }
    .row-gap-xxl-0 {
      row-gap: 0 !important;
    }
    .row-gap-xxl-1 {
      row-gap: 0.25rem !important;
    }
    .row-gap-xxl-2 {
      row-gap: 0.5rem !important;
    }
    .row-gap-xxl-3 {
      row-gap: 1rem !important;
    }
    .row-gap-xxl-4 {
      row-gap: 1.5rem !important;
    }
    .row-gap-xxl-5 {
      row-gap: 3rem !important;
    }
    .column-gap-xxl-0 {
      -moz-column-gap: 0 !important;
      column-gap: 0 !important;
    }
    .column-gap-xxl-1 {
      -moz-column-gap: 0.25rem !important;
      column-gap: 0.25rem !important;
    }
    .column-gap-xxl-2 {
      -moz-column-gap: 0.5rem !important;
      column-gap: 0.5rem !important;
    }
    .column-gap-xxl-3 {
      -moz-column-gap: 1rem !important;
      column-gap: 1rem !important;
    }
    .column-gap-xxl-4 {
      -moz-column-gap: 1.5rem !important;
      column-gap: 1.5rem !important;
    }
    .column-gap-xxl-5 {
      -moz-column-gap: 3rem !important;
      column-gap: 3rem !important;
    }
  }
  