.container {
  width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
}
.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.33%;
}
.d-flex {
  display: flex;
  /* flex-wrap: wrap; */
}
.text-center {
  text-align: center;
}
.img-fluid {
  width: 100%;
  height: auto;
}
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-section h2 {
  font-size: 56px;
  font-weight: 400;
  /* color: #000; */
  margin-bottom: 20px;
}
.left-img {
  width: 82.46%;
  height: 81.85%;
  object-fit: cover;
  /* object-position: center; */
}
.right-bg {
  background-color: #e4ece0;
}


.right-bg {
  background-color: #E4ECE0;
  padding: 40px;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.right-item {
  gap: 30px;
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 30px;
}
.item-img {
    display: flex;
    justify-content: center;
}
.item-img img {
  width: 80px;
  height: auto;
}

.item-text h3 {
  margin: 0 0 5px;
  font-size: 28px;
}

.item-text p {
  margin: 0;
  font-size: 20px;
  line-height: normal;
}
.d-block {
    display: block;
}
.main-learning-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media (min-width: 576px) {
    .col-sm-1 { width: 8.333%; }
    .col-sm-2 { width: 16.666%; }
    .col-sm-3 { width: 25%; }
    .col-sm-4 { width: 33.333%; }
    .col-sm-5 { width: 41.666%; }
    .col-sm-6 { width: 50%; }
    .col-sm-7 { width: 58.333%; }
    .col-sm-8 { width: 66.666%; }
    .col-sm-9 { width: 75%; }
    .col-sm-10 { width: 83.333%; }
    .col-sm-11 { width: 91.666%; }
    .col-sm-12 { width: 100%; }
    .right-item {
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 768px) {
    .col-md-1 { width: 8.333%; }
    .col-md-2 { width: 16.666%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.333%; }
    .col-md-5 { width: 41.666%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.333%; }
    .col-md-8 { width: 66.666%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.333%; }
    .col-md-11 { width: 91.666%; }
    .col-md-12 { width: 100%; }
}
@media (min-width: 992px) {
    .col-lg-1 { width: 8.333%; }
    .col-lg-2 { width: 16.666%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.333%; }
    .col-lg-5 { width: 41.666%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.333%; }
    .col-lg-8 { width: 66.666%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.333%; }
    .col-lg-11 { width: 91.666%; }
    .col-lg-12 { width: 100%; }
    .main-learning-section {
        display: flex;
        flex-direction: row;
        /* gap: 30px; */
    }
}
@media (min-width: 1200px) {
    .col-xl-1 { width: 8.333%; }
    .col-xl-2 { width: 16.666%; }
    .col-xl-3 { width: 25%; }
    .col-xl-4 { width: 33.333%; }
    .col-xl-5 { width: 41.666%; }
    .col-xl-6 { width: 50%; }
    .col-xl-7 { width: 58.333%; }
    .col-xl-8 { width: 66.666%; }
    .col-xl-9 { width: 75%; }
    .col-xl-10 { width: 83.333%; }
    .col-xl-11 { width: 91.666%; }
    .col-xl-12 { width: 100%; }
}
@media (min-width: 1400px) {}
